<ion-content>
    <h1>Sensor test page</h1>
    <p *ngFor="let activity of userActivityArr; let i = index">User is currently {{mapToUserActivity(activity)}} I am
        {{ userActivityProbArr[i] }}% confident </p>
    <p>Brightness Value : {{ brighntessValue }}</p>

    <p *ngIf="!wifiLevel && !cellularNetworkType">No internet connection.</p>
    <p *ngIf="wifiLevel">WifiLevel: {{ wifiLevel }}</p>
    <p *ngIf="cellularNetworkType">CellularNetworkType: {{ cellularNetworkType }}</p>
    <p> Battery Status: {{ batLevel }} plugged: {{ batPluged }}</p>

</ion-content>