<ion-list>
    <ion-list-header style="font-weight: 700;">SUBCATEGORIES</ion-list-header>
    <ion-item button (click)="search('business')">Business</ion-item>
    <ion-item button (click)="search('entertainment')">Entertainment</ion-item>
    <ion-item button (click)="search('health')">Health</ion-item>
    <ion-item button (click)="search('science')">Science</ion-item>
    <ion-item button (click)="search('sports')">Sports</ion-item>
    <ion-item button (click)="search('technology')">Technology</ion-item>
    <ion-item button (click)="search('fun')">Fun</ion-item>
</ion-list>