<ion-list>
    <ion-card *ngFor="let item of arr; let i = index" class="card">
        <img *ngIf="showImages" [src]="item.urlToImage" (error)="updateUrl($event, i)" />
        <ion-card-header>
            <ion-card-subtitle [style.fontSize]="authorFontSize +'px'">{{item.author}}
            </ion-card-subtitle>
            <ion-card-title [style.fontSize]="headlinesFontSize +'px'" style="font-weight: 700;">
                {{(item.title.length > 135) ? item.title.substring(0,135) + '...' : item.title}}
            </ion-card-title>
        </ion-card-header>

        <ion-row class="ion-justify-content-end" style="padding: 5px">
            <ion-button color="dark" size="small" (click)="openUrl(item.url)">
                Read more
            </ion-button>
        </ion-row>
    </ion-card>
</ion-list>