<ion-list>
    <ion-card *ngFor="let item of arr" class="card">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/191208142628-01-trump-unsc-luncheon-1205-super-tease.jpg" />
        <ion-card-header>
            <ion-card-subtitle>{{item}}</ion-card-subtitle>
            <ion-card-title style="font-weight: 700;">Only one cryptocurrency is
                outperforming
                bitcoin this year
                — and its exchange has
                pioneered the practice of destroying coins every quarter</ion-card-title>
        </ion-card-header>

        <ion-row class="ion-justify-content-end" style="padding: 5px">
            <ion-button color="dark" size="small">
                Read more
            </ion-button>
        </ion-row>
    </ion-card>
</ion-list>