#dark-theme {

    ion-list-header {
        color: #ffffff;
    }

    ion-toolbar {
        --background: #30323D;
        color: #ffffff;
    }

    ion-content {
        --background: #30323D !important;
    }

    ion-card {
        background-color: #4D5061 !important;
        color: #ffffff !important;
    }

    ion-card-subtitle {
        color: #ffffff !important;
    }

    ion-card-title {
        color: #ffffff !important;
        font-weight: normal !important;
    }

    ion-list {
        background-color: #30323D !important;
    }

    .back-button {
        background-color: #30323D !important;
    }

    .button-inner {
        background-color: #ffffff !important;
    }

    ion-segment-button {
        background-color: #30323D !important;
        color: #ffffff !important;
    }

    ion-segment-button ion-icon {
        color: #ffffff !important;
    }

    .back-button span {
        background-color: #30323D !important;
    }

    .customizeTitle {
        color: #ffffff !important;
    }

    .defaultFontSize {
        color: #ffffff !important;
    }

    ion-item {
        --background: transparent !important;
        color: #ffffff;
    }

    .nav-link {
        color: #ffffff !important;
    }

    .pageContent {
        background-color: #30323D !important;
    }


    ion-refresher-content {
        --color: #ffffff;
    }

    app-popover {
        background-color: #30323D !important;
    }

    .searchbar-input-container input {
        background-color: #ffffff !important;
    }

    ion-button .button-inner {
        color: #ffffff !important;
        --color: #ffffff !important;
    }

    .font-icon {
        content: url(../assets/fontIcons/font-w.png) !important;
    }

    ion-segment {
        background-color: #30323D !important;
    }

    app-news {
        background-color: #30323D !important;
    }

}