<ion-content>

    <ion-slides pager="true" #ionSlides>
        <ion-slide class="step-one">
            <img class="main-img" src="assets/tutorial/1.svg" />
            <h3>O zbiranju podatkov</h3>
            <p>Aplikacija bo med uporabo zbirala podatke o vaši trenutni fizični aktivnosti,
                svetlosti okolja, hitrosti internetne povezave in trenutnem nivoju baterije. </p>

        </ion-slide>

        <ion-slide class="step-two">
            <img class="main-img" src="assets/tutorial/2_1.png" />
            <h3>Vaša naloga</h3>
            <p> Spodbujamo vas, da aplikacijo uporabljate medtem ko hodite, se vozite z avtobusom ali pa
                sedite. </p>

        </ion-slide>
        <!--
        <ion-slide class="step-three">
            <ion-img class="main-img" src="assets/tutorial/2_1.png">
            </ion-img>
            <h3>Uporaba aplikacije</h3>
            <p style="padding-left: 16px; padding-right: 16px;">V nekem trenutku vam bomo naključno spremenili trenuten
                pogled v aplikaciji in zastavili kratek vprašalnik. Pogled pa spreminjate lahko tudi sami
                (več podrobnosti sledi v nadaljevanju).</p>
            <ion-button (click)="next()">NADALJUJ</ion-button>

        </ion-slide>-->

        <ion-slide class="step-three">
            <img style="padding: 16px;" src="assets/tutorial/top_bar.PNG" />
            <h3>Upravljanje z zgornjim menijem</h3>

            <p style="padding-left: 16px; padding-right: 16px;">Na vrhu lahko spreminjate tematiko novic, prisotnost
                slik, velikost pisave in temo aplikacije.
            </p>

        </ion-slide>

        <ion-slide class="step-four">
            <img style="padding: 16px;" src="assets/tutorial/bottom_bar.PNG" />
            <h3>Izbiranje pogledov za prikaz novic</h3>

            <p>Spodnji meni pa vam omogoča prilagajati prikaz novic (izbirate lahko med štirimi različnimi
                pogledi).</p>
        </ion-slide>

        <ion-slide class="step-five">
            <img class="main-img" src="assets/tutorial/q.png" />

            <p>Vprašalnik, ki se bo pojavil v nekem trenutku je sestavljen iz treh kratkih vprašanj v povezavi z
                izgledom aplikacije. </p>
        </ion-slide>

        <ion-slide class="step-six">
            <img class="main-img" src="assets/tutorial/preferences.png" />

            <p>Najprej nas zanima vaše osebno stališče glede trenutnega izgleda aplikacije (ali so slike in pisava
                primerne velikosti, ali je navigacija po aplikaciji med branjem novic tekoča in ali je tema aplikacije
                primerna).
            </p>
        </ion-slide>

        <ion-slide class="step-seven">
            <img class="main-img" src="assets/tutorial/like.png" />

            <p>Nato sledita še vprašanji o čistosti prikaza novic (razločnost slik in ali vam aplikacija omogoča tekoče
                branje novic).</p>
        </ion-slide>

        <ion-slide class="step-eight">
            <img class="main-img" src="assets/tutorial/5.png" />

            <p>Hvala že v naprej vsem, ki boste pomagali. Vaši podatki bodo prispevali k uspešni izdelavi diplomske
                naloge. Skupaj bomo izdelali sistem, ki bo znal sam določiti kakšen pogled je v določenem trenutku
                najboljši</p>
            <ion-button (click)="finish()">KONČAJ</ion-button>
        </ion-slide>

    </ion-slides>
</ion-content>