<ion-content>

    <ion-slides pager="true" #ionSlides>
        <ion-slide class="step-one">
            <ion-img class="main-img" src="assets/tutorial/1.svg"></ion-img>
            <h3>O zbiranju podatkov</h3>
            <p>Aplikacija bo med uporabo zbirala podatke o vaši trenutni fizični aktivnosti,
                svetlosti okolja, hitrosti internetne povezave in trenutnem nivoju baterije. </p>
            <ion-button (click)="next()">NADALJUJ</ion-button>

        </ion-slide>

        <ion-slide class="step-two">
            <ion-img class="main-img" src="assets/tutorial/2_1.png">
            </ion-img>
            <h3>Uporaba aplikacije</h3>
            <p style="padding-left: 16px; padding-right: 16px;">V nekem trenutku vam bomo naključno spremenili trenuten
                pogled v aplikaciji in zastavili kratek vprašalnik. Pogled pa spreminjate lahko tudi sami
                (več podrobnosti sledi v nadaljevanju).</p>
            <ion-button (click)="next()">NADALJUJ</ion-button>

        </ion-slide>

        <ion-slide class="step-three">

            <h3>Funkcionalnosti aplikacije</h3>
            <ion-img style="padding: 16px;" src="assets/tutorial/top_bar.PNG"></ion-img>
            <p style="padding-left: 16px; padding-right: 16px;">Na vrhu lahko spreminjate tematiko novic, prisotnost
                slik, velikost pisave in temo aplikacije
            </p>

            <ion-button (click)="next()">NADALJUJ</ion-button>
        </ion-slide>

        <ion-slide class="step-four">

            <h3>Funkcionalnosti aplikacije</h3>
            <ion-img style="padding: 16px;" src="assets/tutorial/bottom_bar.PNG"></ion-img>
            <p>Spodnji meni pa vam omogoča prilagajati prikaz novic (izbirate lahko med štirimi različnimi
                pogledi)</p>
            <ion-button (click)="next()">NADALJUJ</ion-button>
        </ion-slide>

        <ion-slide class="step-five">
            <ion-img class="main-img" src="assets/tutorial/5.png">
            </ion-img>
            <p>Hvala že v naprej vsem, ki boste pomagali. Vaši podatki bodo prispevali k uspešni izdelavi diplomske
                naloge
                Skupaj bomo izdelali sistem, ki bo znal sam določiti kakšen pogled je v določenem trenutku najboljši</p>
            <ion-button (click)="finish()">KONČAJ</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>