<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="search('default')">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="font-weight: 700;">{{title}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="toggleTheme()">
                <ion-icon slot="icon-only" name="bulb"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchQuery" (change)="search($event)" autocorrect="off">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" id="content" (ionScroll)="onContentScroll()" style="overflow: hidden;">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-LargeCard [arr]="arr" [showImages]="showImages" [authorFontSize]="authorFontSize"
        [headlinesFontSize]="headlinesFontSize" *ngIf="currentViewLayout === 'largeCards'" class="activeList"
        (largeCardLoaded)="viewIsLoaded($event)">
    </app-LargeCard>

    <app-MiniCard [arr]="arr" [showImages]="showImages" [authorFontSize]="authorFontSize"
        [headlinesFontSize]="headlinesFontSize" *ngIf="currentViewLayout === 'miniCards'" class="activeList"
        (miniCardLoaded)="viewIsLoaded($event)">
    </app-MiniCard>

    <app-XLargeCard [arr]="arr" [showImages]="showImages" [authorFontSize]="authorFontSize"
        [headlinesFontSize]="headlinesFontSize" *ngIf="currentViewLayout === 'xLargeCards'" class="activeList"
        (xLargeCardsLoaded)="viewIsLoaded($event)">
    </app-XLargeCard>

    <app-GridView [arr]="arr" [authorFontSize]="authorFontSize" [headlinesFontSize]="headlinesFontSize"
        *ngIf="currentViewLayout === 'gridView'" class="activeList" (gridViewComponentLoaded)="viewIsLoaded($event)">
    </app-GridView>
</ion-content>

<ion-footer style="background-color: white;">
    <ion-segment color="dark">
        <ion-segment-button style="border-color: transparent;" (click)="toggleView('largeCards')">
            <ion-icon name="logo-buffer"></ion-icon>
        </ion-segment-button>
        <ion-segment-button style="border-color: transparent;" (click)="toggleView('gridView')">
            <ion-icon name="grid"></ion-icon>
        </ion-segment-button>
        <ion-segment-button style="border-color: transparent;" (click)="toggleView('miniCards')">
            <ion-icon name="menu"></ion-icon>
        </ion-segment-button>
        <ion-segment-button style="border-color: transparent;" (click)="toggleView('xLargeCards')">
            <ion-icon name="albums"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>