<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="search('default')">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="font-weight: 700; text-transform: capitalize;">
            <div [ngSwitch]="title">
                <span *ngSwitchCase="'Top Headlines'">Domov</span>
                <span *ngSwitchCase="'entertainment'">Razvedrilo</span>
                <span *ngSwitchCase="'sports'">Šport</span>
                <span *ngSwitchCase="'fun'">9gag</span>
                <span *ngSwitchDefault>{{title}}</span>
            </div>
        </ion-title>
        <ion-buttons slot="primary">
            <ion-img *ngIf="currentViewLayout !=='gridView'" class="ion-activatable" (click)="toggleFontSize()"
                class="font-icon" style="display: inline;" src="assets/fontIcons/font-b.png">
            </ion-img>
            <ion-button (click)="toggleImagesShowing()">
                <ion-icon slot="icon-only" name="images"></ion-icon>
            </ion-button>
            <ion-button (click)="toggleTheme()">
                <ion-icon slot="icon-only" name="bulb"></ion-icon>
            </ion-button>
            <ion-button (click)="openNewsOptions($event)">
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
            <!--<ion-button (click)="openQuiz($event)">
                <ion-icon slot="icon-only" name="help"></ion-icon>
            </ion-button>-->
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchQuery" (keyup.enter)="search($event)" autocorrect="off">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" id="content" (ionScroll)="onContentScroll()">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-LargeCard [arr]="arr" [showImages]="showImages" [authorFontSize]="authorFontSize"
        [headlinesFontSize]="headlinesFontSize" *ngIf="currentViewLayout === 'largeCards'" class="activeList"
        (largeCardLoaded)="viewIsLoaded($event)" (inBrowser)="inBrowser($event)">
    </app-LargeCard>

    <app-MiniCard [arr]="arr" [showImages]="showImages" [authorFontSize]="authorFontSize"
        [headlinesFontSize]="headlinesFontSize" *ngIf="currentViewLayout === 'miniCards'" class="activeList"
        (miniCardLoaded)="viewIsLoaded($event)" (inBrowser)="inBrowser($event)">
    </app-MiniCard>

    <app-XLargeCard [arr]="arr" [showImages]="showImages" [authorFontSize]="authorFontSize"
        [headlinesFontSize]="headlinesFontSize" *ngIf="currentViewLayout === 'xLargeCards'" class="activeList"
        (xLargeCardsLoaded)="viewIsLoaded($event)" (inBrowser)="inBrowser($event)">
    </app-XLargeCard>

    <app-GridView [arr]="arr" [authorFontSize]="authorFontSize" [headlinesFontSize]="headlinesFontSize"
        *ngIf="currentViewLayout === 'gridView'" class="activeList" (gridViewComponentLoaded)="viewIsLoaded($event)"
        (inBrowser)="inBrowser($event)">
    </app-GridView>

</ion-content>

<ion-footer style="background-color: white;">
    <ion-segment color="dark">
        <ion-segment-button class="seg-button" style="border-color: transparent;"
            (click)="toggleView('largeCards', true)">
            <ion-icon class="largeCards-icon" name="logo-buffer"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="seg-button" style="border-color: transparent;" (click)="toggleView('gridView', true)"
            *ngIf="showImages">
            <ion-icon class="gridView-icon" name="grid"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="seg-button" style="border-color: transparent;"
            (click)="toggleView('miniCards', true)" *ngIf="showImages">
            <ion-icon class="miniCards-icon" name="menu"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="seg-button" style="border-color: transparent;"
            (click)="toggleView('xLargeCards', true)">
            <ion-icon class="xLargeCards-icon" name="albums"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>