<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="search('default')">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="font-weight: 700;">Displaying search result for: {{title}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchQuery" (change)="search($event)" showCancelButton="focus" autocorrect="off">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" id="content" (ionScroll)="onContentScroll()">

    <app-LargeCard [arr]=" arr" *ngIf="currentViewLayout === 'largeCards'" class="activeList"
        (largeCardLoaded)="viewIsLoaded($event)">
    </app-LargeCard>

    <app-MiniCard [arr]="arr" *ngIf="currentViewLayout === 'miniCards'" class="activeList"
        (miniCardLoaded)="viewIsLoaded($event)"></app-MiniCard>

    <app-XLargeCard [arr]="arr" *ngIf="currentViewLayout === 'xLargeCards'" class="activeList"
        (xLargeCardsLoaded)="viewIsLoaded($event)"></app-XLargeCard>

    <app-GridView [arr]="arr" *ngIf="currentViewLayout === 'gridView'" class="activeList"
        (gridViewComponentLoaded)="viewIsLoaded($event)"></app-GridView>
</ion-content>

<ion-footer style="background-color: white;">
    <ion-segment color="dark">
        <ion-segment-button style="border-color: transparent;" (click)="toggleView('largeCards')">
            <ion-icon name="logo-buffer"></ion-icon>
        </ion-segment-button>
        <ion-segment-button style="border-color: transparent;" (click)="toggleView('gridView')">
            <ion-icon name="grid"></ion-icon>
        </ion-segment-button>
        <ion-segment-button style="border-color: transparent;" (click)="toggleView('miniCards')">
            <ion-icon name="menu"></ion-icon>
        </ion-segment-button>
        <ion-segment-button style="border-color: transparent;" (click)="toggleView('xLargeCards')">
            <ion-icon name="albums"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>