<ion-header translucent>
    <ion-toolbar>
        <ion-title>Power Manager</ion-title>
        <ion-buttons slot="start">
            <ion-back-button class="back-button" defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-label>Show image</ion-label>
            <ion-toggle id="showImage" [(ngModel)]="showImage" slot="start"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Cache</ion-label>
            <ion-toggle id="cache" [(ngModel)]="cache" slot="start"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>